/* dropdown.css */
.dropdown {
  --dropdown-animation-duration: 150ms;
  --dropdown-contents-width: 200px;
  position: relative;
  text-align: initial;
}
.dropdown,
.dropdown-button {
  display: inline-block;
  cursor: pointer;
}
.dropdown-contents { display: block; }
.dropdown-contents {
  position: absolute;
  top: 100%;
  bottom: auto;
  right: 0;
  width: var(--dropdown-contents-width, 200px);
  overflow: hidden;

  border-width: var(--border-width, 1px);
  border-style: var(--border-style, solid);
  border-color: var(--border-color, gray);
  border-radius: var(--border-radius, 3px);
}

.--left .dropdown-contents {
  left: 0;
  right: auto;
}
.--right .dropdown-contents {
  right: 0;
  left: auto;
}
.--top .dropdown-contents {
  bottom: 100%;
  top: auto;
}
.--bottom .dropdown-contents {
  top: 100%;
  bottom: auto;
}

/* animating */
.--open .dropdown-contents,
.--close .dropdown-contents {
  padding: var(--spacing, 1rem);
  transform-origin: top left;
}
.--close.--top .dropdown-contents,
.--open.--top .dropdown-contents {
  transform-origin: bottom left;
}
.--close.--bottom .dropdown-contents,
.--open.--bottom .dropdown-contents {
  transform-origin: top left;
}

.--open .dropdown-contents {
  animation:  var(--dropdown-animation-duration) ease-in 0s 1 normal open_dropdown;
  animation-fill-mode: forwards;
}

.--close .dropdown-contents {
  animation: var(--dropdown-animation-duration) ease-in 0s 1 normal close_dropdown;
  animation-fill-mode: forwards;
}

@keyframes open_dropdown {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes close_dropdown {
  from {
    opacity: 1;
    transform: scaleY(1);
  }
  to {
    opacity: 0;
    transform: scaleY(0);
  }
}

/* opened */
.--opened .dropdown-contents {
  padding: var(--spacing, 1rem);
  opacity: 1;
}

/* closed */
.--closed .dropdown-contents {
  padding: 0;
  border-width: 0;
  opacity: 0;
}

