<template>
<span class="dropdown"
  :class="{
    '--opened': isOpened,
    '--closed': isClosed,
    '--open': isOpening,
    '--close': isClosing,
    '--left': alignPropIsLeft,
    '--right': alignPropIsRight,
    '--top': alignPropIsTop,
    '--bottom': alignPropIsBottom,
  }">
  <span class="dropdown-button"
    @click="toggle">
    <slot name="button">Open</slot>
  </span>
  <span class="dropdown-contents">
    <slot name="contents">
    dropdown contents
    </slot>
  </span>
</span>
</template>
<script src="./dropdown.js"></script>
<style src="./dropdown.css"></style>

