<template>
  <Dropdown contentsWidth="200px"
    align="bottom right">
    <template v-slot:button>
      Button
    </template>
    <template v-slot:contents>
      Some contents
    </template>
  </Dropdown>
</template>

<script>
import Dropdown from './components/Dropdown.vue'

export default {
  name: 'App',
  components: { Dropdown }
}
</script>
